/* nadpisanie dotychczasowych wartości */
head, body{
    height: 100vh;
    line-height: normal !important;
}
#userbox {
    width: 100%;
    height: 99%;
    color: #DBE9EF;
    margin-top: 0;
}
#mainbox {
    height: 85%;
    border-radius: 14px;
    margin-bottom: 3%;
}
#centerbox {
    height: 100%;
}
input {
    width: 20em;
    text-indent: 0;
}
label {
    padding: 0;
    display: contents !important;
}
#infobox {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 65%;
    justify-content: space-evenly;
}


/* cały formularz wprowadzania zdjęcia */
#addphoto {
    display: flex;
    flex-grow: 2;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 35%;
    margin: 0 2%;
}




/* tytuł podglądu zdjęcia */
#titlebox {
    margin-top:4%;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    /* flex: 20%;*/
}
#titlebox > div{
    display: flex;
}

#infobox > div:nth-child(2){
    flex: 90%;
}


#photoDetailsAndPreviewBox
{
    display: flex;
}

#photodetailsbox {
    /* flex-grow: 1;*/
    min-width: 30%;

}

#photoprevievbox {

    /* flex-grow: 2;*/
    width: 100%;
    max-height: 72vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(12, 55, 87);*/
}
#photoprevievbox img {
    max-width: 100%;
    max-height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    /*height: clamp(20vh,40em,60vh);*/
}

#photodetailsbox > div, #photodetailsbox > hr {
    margin: 0.8em 1em 1em 1.5em;
}





/* pierwsza kolumna formularza / przycisk dodaj zdjecie */
#addphotobox{
    align-self: flex-end;
    flex:5%;

}
#addphotobox > input {
    width: 10em;
}
#addphotobox img {
    width: 2.2em;
}



/* druga kolumna / główna część formularza  */
#addphotoinformationbox {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:95%;
}

#addphotoinformationbox > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#descriptionbox {
    flex:10%;
}

#tagbox {
    flex:7%;
}

.uploadtextield {
    resize: none;
    height: 100%;
    border: 0.3em solid #84D9EC;
    border-radius: 10px;

    /* do tego żeby inputy nie wyjeżdżały poza diva */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mapbox {
    flex-grow: 3;
    border-radius: 20px;
    margin: 1% 0;
    flex: 30%;
}

#mapcontainer {
    width: 100%;
    margin: 0;
    flex: 60%;
}
#map{
    height: 20vh;
    min-height: 10em;
    box-shadow: none;
}


#submitPhoto {
    width: 35%;
    height: 6%;

    text-align: center;
    margin: 2% auto 5%;
    background: #BFE0EE;
    border: 0.25em solid #84D9EC;
    font-size: 0.9em;
    font-weight: bold;
    text-indent: 0;
    border-radius: 10px;
}




/* style do przycisku */

#addphotobox > input {
    display: none;
    padding: 10%;
}
#addphotobox img {
    cursor: pointer;
}
#addphotobox label {
    margin: 0;
}

#addphotobox img:hover {
    opacity: 80%;
}


#pincolorbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#addpinbox {
    width: 100%;
    height: 100%;
    opacity: 100%;
}

#addpinbox > * {
    height: 12%;
    font-size: 1.05rem;
    width: 100%;
}

#addpinbox > input {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2em;
}

#addpinbox h3
{
    color: white;
    font-weight: 100;
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 0;
}

#pindescription {
    height: 2.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

