body
{
    display: flex;
    background-image: url("tlooo.png");
    flex-direction: column;
    font-family: 'Baloo Thambi 2', cursive;
}
img
{
    height: 20%;
    width: 20%;
    margin-left: 3%;
}
#logopowitanie
{
    display: flex;
    flex-direction: row;
}
#kontener
{
    display: flex;
    flex-direction: row;
}
#powitanie
{
    font-size: 4em;
    color: #BFE0EE;
    margin-top: auto;
    margin-bottom: auto;
}

#kontenerlogowania
{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    background-color: #84D9EC;
    height: 24em;
    width: 37em;
    /* border */
    left: 0%;
    right: 0%;
    top: 5.88%;
    bottom: 0%;
    background: #BFE0EE;
    border: 10px solid #84D9EC;
    border-radius: 10px;

}

#zalogujsie
{

    color: black;
    font-size: 3.8em;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
}
main
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

label
{

    font-size: 1.3em;
}
#username, #password
{
    border-radius: 0.5em;
    height: 2.5em;
    width: 22em;
    border: none;
}

#buttonzalogujsie
{

    /* Przycisk zaloguj  */
    width: 8em;
    height: 1.8em;
    text-align: center;

    margin-top: 2%;
    /* Vector */

    background: #BFE0EE;
    border: 0.15em solid #84D9EC;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;


}

#buttonhaslo
{
    text-align: center;
    font-size: 0.8em;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    width: 30%;
}
form
{
    display: flex;
    flex-direction: column;
}


#zajerestrujkonto
{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
}

#zarejestruj
{
    color: #AAF0FF;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

#buttonzarejestrujsie
{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    background-color: #84D9EC;
    height: 4.2em;
    width: 8.4em;
    /* border */
    left: 0%;
    right: 0%;
    top: 5.88%;
    bottom: 0%;
    background: #BFE0EE;
    border: 10px solid #84D9EC;
    border-radius: 10px;
}