.pinsimages
{
    width: 12em;
    height: auto;

}

.podgladpinezki
{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    min-width: 30px;
}

.podgladpinezki form
{

}

.podgladpinezki form .iconBin
{
    width: 20px;
    position: absolute;
    top: 1px;
    left: -2px;
    filter: invert(16%) sepia(54%) saturate(7457%) hue-rotate(2deg) brightness(97%) contrast(127%);
}

.mapboxgl-popup-content
{
    padding: 16px 6px 6px 6px;
}

#centerbox
{
    width: 100%;
    padding-left: 9em;
}


#mapcontainer
{
    width: 70%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#map
{
    width: auto;
    height: 40em;

    box-shadow: 0 0 0 22px rgba(0, 0, 0, 0.25);
}

#signupForma
{
    width: auto;
    display: flex;
    flex-direction: column;
}


.buttonviewmap
{

    width: 25%;
    height: auto;

    background: #BFE0EE;

    font-family: 'Baloo Thambi 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 22px;
    margin-left: -22px;
    color: #005E86;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

#buttonviewmap1
{
    background: #005E86;
    color: #BFE0EE;

}
#buttonviewmap2
{
    background: #BFE0EE;
    color: #005E86;

}

.buttonviewmap:first-of-type {
    margin-right: 16px;
}

#moremainbox
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0C2C4C 0%, rgba(0, 36, 67, 0.38) 5.21%, rgba(219, 233, 239, 0.78) 100%);
    margin-bottom: 3%;
    border-radius: 14px;
}

#mainbox
{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    width: auto;
}

#PITA
{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;

}
.Photosh1
{
    font-family: 'Baloo Thambi 2', cursive;
    text-align: left;
    margin-left: 0.4em;
    font-weight: 400;
    color: #FFFFFF;
}
#PITABI
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

.PhotosyArea
{
    margin:1em;
    border: 0.5em solid white;
    object-fit:cover; /*aby bylo kwadratowe*/
    width: 10em;
    height: 10em;

}

#addpinbox
{
    height: 28em;
    width: 24%;
    background-color: #0C2C4C;
    opacity: 80%;
    border-radius: 24px;
    margin-right: 2.5%;

}

form label
{
    color: white;
    font-size: 14px;
    margin: 3% 1% 1%;
}

form
{
    margin-left: 7%;
    margin-right: 7%;
}
h1, #addpinh1
{
    font-size: 175%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: white;

}

#addpinbox form input
{
    border-radius: 5px;
}

#submitpin
{
    width: 30%;
    margin-top:3px;
}


/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio],
input[type=checkbox]{
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}
input[type=radio] + label:before
{
    height:12px;
    width:12px;
    margin-right: 2px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    border:1px solid #777;
}
input[type=radio]:checked + label:before{
    border:4px solid black;
}

input[type=radio] + label:before{
    border-radius:50%;
}

input[type=radio]#one + label:before
{
    background-color: #ff0000;
}
input[type=radio]#two + label:before
{
    background-color: #00ff47;
}
input[type=radio]#three + label:before
{
    background-color: #fAff00;
}
input[type=radio]#four + label:before
{
    background-color: #0047ff;
}









.modal-content{
    text-align:left;
    height: 100vh;
    width: 96% !important;
    margin-left:2%;
    margin-right:2%;
    background-color:transparent !important;
    margin-top: -2%;
}

#photoPreview{
    width:100%;
    height: 100vh;

}

.modal.fade.show
{
    background-color: rgba(12, 44, 76, 0.87);
}

.modal-header {

    border-bottom: 0 solid #e9ecef !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}


#modal-dialog {
    max-width: 6000px !important;
    margin: 1.75rem auto;
}


.modal-body1 {
    border: 0.2em solid #84D9EC;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

}

.modal-dialog .modal-content .modal-header .close {
    position: absolute;
    top: 15px;
    right: 0;
    color: #84D9EC;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}