
body
{
width: auto;
background: linear-gradient(180deg, #0C2C4C 0%, rgba(0, 36, 67, 0.38) 35.21%, rgba(219, 233, 239, 0.78) 100%);
color: #BFE0EE;
}

#userDescription > * {
        word-break: break-word;
}

#content{
display: flex;
}
