#followForm {
    flex: 25%;
    align-self: flex-end;
}

#mainbox
{
width: auto;
background: linear-gradient(180deg, #0C2C4C 0%, rgba(0, 36, 67, 0.38) 5.21%, rgba(219, 233, 239, 0.78) 100%);
border-radius:10px;

color: #BFE0EE;
}

#centerbox
{
    width: 100%;
    padding-left: 9em;
}
#userbox
{

width: auto;
margin-left: 2em;
margin-right: 2em;
margin-top: 5%;
background-color: #0C2C4C;
display: flex;
    border-radius: 20px;

}
#user
{
    text-align: center;
}
#profpic
{
    object-fit:cover; /*aby bylo kwadratowe*/
    margin: 1em 0 0 1em;
    width: 8.5em;
    height: 8.5em;
    border: 3px solid #84D9EC;
    box-sizing: border-box;
    border-radius: 10px;
}

#profpicminiatureBigger
{
    object-fit:cover; /*aby bylo kwadratowe*/
    margin: 1em 0 0 1em;
    width: 8.5em;
    height: 8.5em;
    border: 3px solid #84D9EC;
    box-sizing: border-box;
    border-radius: 10px;
}

#userdescription
{
    padding-left: 5%;
    width: 100%;
    color: #BFE0EE;
}


#settings
{
    width: 100%;
    height: 14%;
    background: #BFE0EE;
    border: 0.15em solid #84D9EC;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.7);
    margin: auto 5% 5% 1%;
    border-radius: 10px;
}

#matchedPhotos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 2em;

}
.album
{
    margin:1em;
    border: 0.5em solid white;
    object-fit:cover; /*aby bylo kwadratowe*/
    width: 20em;
    height: 20em;
}


.modal-content{
    text-align:left;
    height: 100vh;
    width: 96% !important;
    margin-left:2%;
    margin-right:2%;
    background-color:transparent !important;
    margin-top: -2%;
}

#photoPreview{
    width:100%;
    height: 100vh;

}

.modal-header {

    padding-left: 4rem !important;
        border-bottom: 0px solid #e9ecef !important;
        border-top-left-radius: 0rem !important;
        border-top-right-radius: 0rem !important;
}


#modal-dialog {
    max-width: 6000px !important;
    margin: 1.75rem auto;
}


.modal-body1 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;



}

.modal-dialog .modal-content .modal-header .close {
    position: absolute;
    top: 15px;
    right: 0;
    color: #84D9EC;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.dropdown-menu {
    width: 20vw !important;
    height: 30vw !important;
    margin-top: 1vw !important;
    margin-right: 5vw !important;
    background: #BFE0EE !important;
    border: 0.15em solid #84D9EC !important;
    font-size: 1.2em !important;
    color: rgba(0, 0, 0, 0.7) !important;
    overflow-x: hidden;
}

.row{
    padding-top:1vh;
    padding-bottom:1vh;
    margin-left:0.2vw;
    padding-left: 3vw;

}

.row:hover {
  background-color: #d2e5ed;
}

.divider {
  border-top: 3px solid #bbb;
}

.listProfPic{
    height:50px;
    width:50px;
    margin-left:0.3vw;
}

.photobox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}