<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/navlefttop.css">
    <link rel="stylesheet" href="/css/profilestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/mainPage.css">
    <script src="/js/fetcher.js" type="text/javascript" defer></script>
    <script src="/js/showPost.js" type="text/javascript"></script>

</head>
<body >

<div id="nav">
    <a th:href="@{/mainPage}">
        <img src="/icons/Navbar/iconLogoNavbar.svg" alt="Strona główna">
    </a> <hr>
    <a th:href="@{/uploadPhoto}">
        <img src="/icons/Navbar/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/maps}">
        <img src="/icons/Navbar/iconMapNavbar.svg" alt="Mapa">
    </a><hr>
    <a th:href="@{/weather}">
        <img src="/icons/Navbar/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>

</div>

<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <ul class="ProfileAndLogOut">
            <li>
                <img th:src="${profilepic}" id="profpicminature" alt="profile picture">
                <ul class="dropdownprofile">
                    <li class="liFirstOption"><a th:href="@{/profile}">Mój profil</a></li>
                    <li class="liSecondOption"><a href="#"><form name="logoutForm" class="logoutForm" th:action="@{/logout}" method="post">
                        <input type="submit" id="signOutSubmit" value="Wyloguj się"/></form></a></li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="mainbox" >
        <div id="mainpageuserbox" > <!-- set maxheight 80%-->


            <div class="post" th:each="post: ${posts}" th:id="'post' + ${post.getIdPost()}">
                <div id="postheader">
                    <div id="leftheader">
                        <div id="profpicture"><img th:src="${post.getUser().getProfilePicPath() != null} ? ${post.getUser().getProfilePicPath()} : '/images/profpic/nopicture.jpg'"  alt="zdjęcie profilowe" class="opacityonhover"></div>
                        <div id="nick" class="opacityonhover">@[[${post.getUser().getLogin()}]]  </div>
                    </div>
                    <div id="rightheader">
                        <div>
                            <!--
                            <form id="followForm"   method="post">
                                <input type="hidden" id="login" name="followedUserLogin" value="obs">
                                <input type="submit" name="follow" value="Obserwuj" id="followbutton" class="opacityonhover"/>
                            </form>
                            -->
                        </div>
                        <div>
                            <button id="settingsbutton">
                                <img src="/icons/MainPage/iconPostSettingsMainpage.svg" alt="post settings icon" class="opacityonhover">
                            </button>
                        </div>
                    </div>

                </div>
                <div id="postphoto">
                    <img  th:src="${post.getPhoto().getPath()}" th:alt="'zdjecie nr ' + ${post.getPhoto().getPhotoId()}" th:id="'image' + ${post.getPhoto().getPhotoId()}" class="opacityonhover">
                </div>

                <div id="postinfobox">
                    <div id="topinfobox">
                        <div id="descriptionbox" th:text="${post.getDescription()}">

                        </div>
                    </div>
                    <div id="reactionbox">

                        <div id="reactionform">
                            <form th:action="@{/addReaction}" method="post">
                                <label for="reaction">
                                    <img src="/icons/Post/iconLikePost.svg" alt="reaction icon" class="opacityonhover">
                                </label>
                                <input type="hidden" name="idPostReakcja" th:id="'idPostReakcja'+ ${post.getIdPost()}" th:value="${post.getIdPost()}"/>
                                <input type="submit" value="Lubie to!" name="reaction" id="reaction" />
                            </form>
                            <div id="reactioncount" th:text="${post.getReactionsNumber()}"></div>
                        </div>

                        <div id="commentsform">
                            <form  method="post">
                                <label for="reaction">
                                    <img src="/icons/Post/iconCommentPost.svg" alt="comments icon" class="opacityonhover">
                                </label>
                                <input type="submit" value="Wyślij" name="showComment" id="showComment" />
                            </form>
                            <div id="commentscount" th:text="${post.getCommentsNumber()}"></div>
                        </div>

                    </div>
                </div>
                <form th:action="@{/addComment}" method="post" id="addComment" class="comment" >
                    <label>Dodaj komentarz:</label>
                    <textarea name="comment" id="commentinput" maxlength="2000"></textarea>
                    <input type="hidden" name="idPost"  th:id="${post.getIdPost()}" th:value="${post.getIdPost()}"/>
                    <input type="submit" value="Wyślij" name="sendComment" th:id="'sendCommentfor'+${post.getIdPost()}" id="sendComment"/>
                </form>
                <div id="commentsbox" >
                    <div th:id="'Commentnr'+${comment.getIdComment()}" class="comment" th:each="comment: ${post.getComments()}">
                        <div class="commenteravatar">
                            <img th:src="${comment.getUser().getProfilePicPath() != null} ? ${comment.getUser().getProfilePicPath()} : '/images/profpic/nopicture.jpg'" alt="zdjęcie profilowe" class="opacityonhover">
                        </div>
                        <div class="commentbody">
                            <div class="commentnavbar">
                                <div class="commenternickname" th:text="${comment.getUser().getLogin()}">

                                </div>
                                <div class="commentdate" th:text="${comment.getData()}">

                                </div>
                            </div>
                            <div class="commenttext" th:text="${comment.getContent()}">
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>
</div>
<!--
    <div id="postbox">
        <div th:each="post: ${posts}" >
           --<img src="${post.getPhoto().getPath()}" alt="zdjęcie id1">
           -- <p>Id postu:<a th:text="${post.getIdPost()}" ></a></p>
           --<p>Opis: <a th:text="${post.getDescription()}"></a></p>
           --<p>Tagi: <a th:text="${post.getTags()}"></a></p>
            <p>Id zdjecia: <a th:text="${post.getPhoto().getPhotoId()}"></a></p>
            --<p>Login twórcy: <a th:text="${post.getUser().getLogin()}"></a></p>
            <div id="podmien"></div>
            <button onclick="photoFetcher()">Dej zdjęcie</button>
            <div id="photoDiv"></div>

            <div id="commentBox">
                <form th:action="@{/addComment}" method="post">
                    <label>Dodaj komentarz:</label>
                    <input type="text" name="comment" id="comment"/>
                    <input type="hidden" name="idPost" id="idPost" th:value="${post.getIdPost()}"/>
                    <input type="submit" value="Wyślij" name="sendComment" id="sendComment"/>
                </form>
            </div>

            <div id="reactionBox">
                <form th:action="@{/addReaction}" method="post">
                    <label>Reakcja:</label>
                    <input type="hidden" name="idPostReakcja" id="idPostReakcja" th:value="${post.getIdPost()}"/>
                    <input type="submit" value="Lubie to!" name="reaction" id="reaction"/>
                </form>
            </div>
        </div>
    </div>
-->

</body>
</html>