<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mapsony</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <link rel="stylesheet" href="/css/mapsstyle.css">
    <link rel="stylesheet" href="/css/navlefttop.css">

    <!--<script src="js/mapscript.js" defer></script> &lt;!&ndash;defer czyli odpali się po załadowaniu zawartości body&ndash;&gt;
    <style>
        .marker {
            background-image: url('navicons/add.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>-->
</head>
<body>
<div id="nav">
    <a th:href="@{/photoit}">
        <img src="/navicons/svg/iconLogoNavbar.svg" alt="Strona główna">
    </a> <hr>
    <a th:href="@{/uploadPhoto}">
        <img src="/navicons/svg/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/maps}">
        <img src="/navicons/svg/iconMapNavbar.svg" alt="Mapa">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/navicons/svg/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/navicons/svg/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>
</div>

<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <img th:src="${profilepic}" id="profpicminature" alt="profile picture">

    </div>

<div id='map' style='width: 60vw; height: 60vh;'></div>
<div class="container">
    <form th:action="@{/savepin}" th:method="request" id="signupForm">
        <label for="lat">Szerokość geograficzna</label>
        <input type="text" id="lat" name="lat">
        <label for="lng">Długość geograficzna</label>
        <input type="text" id="lng" name="lng">
        <label for="pindescription">Opis pinezki</label>
        <input type="text" id="pindescription" name="pindescription">
        <input type="radio" class="pincolor" name="color" value="#ff0000">
        <label>Czerwony</label>

        <input type="radio" class="pincolor" name="color" value="#00ff47">
        <label>Zielony</label>

        <input type="radio" class="pincolor" name="color" value="#fAff00">
        <label>Żółty</label>

        <input type="radio" class="pincolor" name="color" value="#0047ff">
        <label>Niebieski</label>
        <input type="submit" value="Szukaj" >
    </form>
</div>


</div>

<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRpeHhkIiwiYSI6ImNrdzk5MGRleDAwN3MycG13dzliNTVlZ20ifQ.8a4kA7C251FLFX3aTngyHA';
    var userposition=[21.017532,52.237049];
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center:userposition,
        zoom:8
    });



    var mapdata = '[[${pins}]]';
    mapdata = mapdata.replaceAll("]]", '');
    mapdata = mapdata.replaceAll("]", '');
    mapdata = mapdata.replaceAll("[[", '');
    mapdata = mapdata.replaceAll("[", '');
    var help = mapdata.split(",");
    console.log(help);
    var photo;
    if(help.length !== 1)
    {
        var ile = help.length / 7;
        for (var i = 0; i < ile; i++) {
            if(help[i * 7 + 6]!==" -1")
                photo = "<img class='pinsimages' src='"+help[i * 7 + 6]+"'/>";
            else photo = "";
            console.log(photo);
            var marker = new mapboxgl.Marker({
                color: help[i * 7 + 4],
                draggable: false
            }).setLngLat([help[i * 7 + 1], help[i * 7 + 2]
            ])
                .setPopup(new mapboxgl.Popup().setHTML("<div class= 'podgladpinezki'>" + photo + help[i * 7 + 3] + " </div>"))
                .addTo(map);
        }
    }


    var geocoder;

    // Add the control to the map.
    map.addControl(geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            color: "#3a97ff"
        })
    );

    geocoder.on('result', function(e) {
        document.getElementById("lat").value = e.result.center[1];
        document.getElementById("lng").value = e.result.center[0];
    });

    var markerpom ;

    map.on('contextmenu', function (e) {
        markerpom.remove();
        addMarker(e.lngLat,'contextmenu');
        //console.log(e.lngLat.lat);
        document.getElementById("lat").value = e.lngLat.lat;
        document.getElementById("lng").value = e.lngLat.lng;

    });

    map.on('load', function() {
        addMarker(userposition, 'load');
    });

    function addMarker(ltlng,event) {

        if(event === 'contextmenu'){
            userposition = ltlng;
        }
        markerpom = new mapboxgl.Marker({draggable: true,color:"#c8c6d0"})
            .setLngLat(userposition)
            .addTo(map)
            .on('dragend', onDragEnd);
    }

    function onDragEnd() {
        var lngLat = markerpom.getLngLat();
        document.getElementById("lat").value = lngLat.lat;
        document.getElementById("lng").value = lngLat.lng;
    }

    $('#signupForm').submit(function(event){
        event.preventDefault();
        $.ajax({
            success: function(data){
                alert(data);
                location.reload();

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
            }
        });
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
</script>

</body>
</html>


