<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mapsony</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/mapsstyle.css">
    <link rel="stylesheet" href="/css/navlefttop.css">
    <!--<script src="js/mapscript.js" defer></script> &lt;!&ndash;defer czyli odpali się po załadowaniu zawartości body&ndash;&gt;
    <style>
        .marker {
            background-image: url('navicons/add.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>-->
</head>
<body style="margin: 8px">
<div id="nav">
    <a th:href="@{/mainPage}">
        <img src="/icons/Navbar/iconLogoNavbar.svg" alt="Strona główna" id="logo">
    </a>
    <a th:href="@{/uploadPhoto}">
        <img src="/icons/Navbar/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/maps}">
        <img src="/icons/Navbar/iconMapNavbar.svg" alt="Mapa">
    </a><hr>
    <a th:href="@{/weather}">
        <img src="/icons/Navbar/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>
</div>

<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->

         <ul class="ProfileAndLogOut">
                <li>
                    <img th:src="${profilepic}" id="profpicminature" alt="profile picture">
                <ul class="dropdownprofile">
                    <li class="liFirstOption"><a th:href="@{/profile}">Mój profil</a></li>
                    <li class="liSecondOption"><a href="#"><form name="logoutForm" class="logoutForm" th:action="@{/logout}" method="post">
                        <input type="submit" id="signOutSubmit" value="Wyloguj się"/></form></a></li>
                </ul>
                </li>
            </ul>

    </div>

    <div id="moremainbox">
        <div id="mainbox">
            <div id="mapcontainer">
                <div class="buttoncontainer">
                    <button class="buttonviewmap" id="buttonviewmap1" onclick="showPanel(0)"> LOKALNA</button>
                    <button class="buttonviewmap" id="buttonviewmap2" onclick="showPanel(1)"> GLOBALNA</button>
                </div>

                <div id='map'></div>
                <input type="hidden" id="pins" th:value="${pins}"/> <!--lokalne pinezki-->
                <input type="hidden" id="pinsy" th:value="${pinsall}"/> <!--globalne pinezki-->
                <input type="hidden" id="idCurrUser" th:value="${id}"/>

                <input type="hidden" id="latUser" th:value="${lat}"/>
                <input type="hidden" id="lngUser" th:value="${lng}"/>
            </div>
            <script th:inline="javascript" src="js/photosInTheArea.js" defer></script>
            <script th:inline="javascript" src="js/mapscript.js" defer></script>
            <script th:inline="javascript" src="js/tab.js" defer></script>
            <script th:inline="javascript" src="js/photoPreview.js" defer></script>

            <div id="addpinbox">
                <h1 id="addpinh1">Dodaj pinezkę</h1>
                <form th:action="@{/savepin}" th:method="request" id="signupForma"> <!--jak jest id=signupForm to wyrzuca komunikat z localhosta i nie dodaje się pinezka-->
                    <label for="lat">Szerokość geograficzna</label>
                    <input type="text" id="lat" name="lat" required pattern="^(\+|-)?(?:90(?:(?:\.0{1,15})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,15})?))$">
                    <label for="lng">Długość geograficzna</label>
                    <input type="text" id="lng" name="lng" required pattern="^(\+|-)?(?:580(?:(?:\.0{1,15})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,15})?))$">
                    <label for="pindescription">Opis pinezki</label>
                    <input type="text" id="pindescription" required name="pindescription">

                    <label for="pincolorbox">Kolor pinezki</label>
                    <div id="pincolorbox">
                        <input type="radio" class="pincolor" name="color" required value="#ff0000" id="one">
                        <label for="one" data-tooltip="Fotografia krajobrazowa"></label>

                        <input type="radio" class="pincolor"  name="color" required value="#00ff47" id="two">
                        <label for="two" data-tooltip="Fotografia przyrodnicza"></label>

                        <input type="radio" class="pincolor"  name="color" required value="#ff1fce" id="three">
                        <label for="three" data-tooltip="Fotografia reportażowa"></label>

                        <input type="radio" class="pincolor" name="color" required value="#0047ff" id="four">
                        <label for="four" data-tooltip="Fotografia portretowa"></label>

                        <input type="radio" class="pincolor" name="color" required value="#000000" id="five">
                        <label for="five" data-tooltip="Fotografia astronomiczna"></label>

                        <input type="radio" class="pincolor" name="color" required value="#fAff00" id="six">
                        <label for="six" data-tooltip="Inne"></label>
                    </div>
                    <input type="submit" value="Dodaj" id="submitpin">
                </form>


            </div>


        </div>
        <div id="PITA">
            <div id="PITABI">

            </div>

        </div>
    </div>



</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nazwa użytkownika</h5>
                <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
            </div>
            <div class="modal-body1">
                <iframe style="border: none" id="photoPreview" src="http://localhost:8080/profile"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

