<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mapsony</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <!--<script src="js/mapscript.js" defer></script> &lt;!&ndash;defer czyli odpali się po załadowaniu zawartości body&ndash;&gt;
    <style>
        .marker {
            background-image: url('navicons/add.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>-->
</head>
<body>
<div id='map' style='width: 60vw; height: 60vh;'></div>
<div class="container">
    <form th:action="@{/savepin}" id="signupForm">
        <label for="lat">lat</label>
        <input type="text" id="lat" name="lat" placeholder="Szerokosc geograficzna">
        <label for="lng">lng</label>
        <input type="text" id="lng" name="lng" placeholder="Dlugosc geograficzna">
        <label for="lng">lng</label>
        <input type="text" id="pindescription" name="pindescription" placeholder="Opis pinezki">
        <input type="submit" value="Submit" >
    </form>

    <div class="geocoder">
        <div id="geocoder" ></div>
    </div>
</div>
<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRpeHhkIiwiYSI6ImNrdzk5MGRleDAwN3MycG13dzliNTVlZ20ifQ.8a4kA7C251FLFX3aTngyHA';
    var userposition=[21.017532,52.237049];
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center:userposition,
        zoom:8
    });

    var mapdata = '[[${pins}]]';
    mapdata=mapdata.replaceAll("]]", '');
    mapdata=mapdata.replaceAll("]", '');
    mapdata=mapdata.replaceAll("[[", '');
    mapdata=mapdata.replaceAll("[", '');
    mapdata=mapdata.replaceAll(" ", '');
    var help = mapdata.split(",");
    var ile=help.length/6;
    var user_position=[52.237049, 21.017532];
    for (var i = 0; i < ile; i++) {
        var marker = new mapboxgl.Marker({
            color: "#e74c3c",
            draggable: false
        }).setLngLat([help[i * 6 + 1], help[i * 6 + 2]
        ])
            .setPopup(new mapboxgl.Popup().setHTML(help[i * 6 + 3]))
            .addTo(map);
    }

    // Add the control to the map.
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );
    /*skrit*/

    var markerpom ;

    map.on('click', function (e) {
        markerpom.remove();
        addMarker(e.lngLat,'click');
        //console.log(e.lngLat.lat);
        document.getElementById("lat").value = e.lngLat.lat;
        document.getElementById("lng").value = e.lngLat.lng;

    });

    map.on('load', function() {
        addMarker(user_position, 'load');
    });

    function addMarker(ltlng,event) {

        if(event === 'click'){
            user_position = ltlng;
        }
        markerpom = new mapboxgl.Marker({draggable: true,color:"#d02922"})
            .setLngLat(user_position)
            .addTo(map)
            .on('dragend', onDragEnd);
    }

    function onDragEnd() {
        var lngLat = markerpom.getLngLat();
        document.getElementById("lat").value = lngLat.lat;
        document.getElementById("lng").value = lngLat.lng;
        console.log('lng: ' + lngLat.lng + '<br />lat: ' + lngLat.lat);
    }

    $('#signupForm').submit(function(event){
        event.preventDefault();
        var lat = $('#lat').val();
        var lng = $('#lng').val();
        var url = 'locations_model.php?add_location&lat=' + lat + '&lng=' + lng;
        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function(data){
                alert(data);
                location.reload();
            }
        });
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
</script>

</body>
</html>


