<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zdjecia</title>
    <link rel="stylesheet" href="/css/navlefttop.css">
    <link rel="stylesheet" href="/css/profilestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

    <!--lightbox -->
    <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
    <script src="/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
<div id="nav">
    <a th:href="@{/mainPage}">
        <img src="/icons/Navbar/iconLogoNavbar.svg" alt="Strona główna">
    </a> <hr>
    <a th:href="@{/uploadPhoto}">
        <img src="/icons/Navbar/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/maps}">
        <img src="/icons/Navbar/iconMapNavbar.svg" alt="Mapa">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>
</div>
<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <ul class="ProfileAndLogOut">
            <li>
                <img th:src="${profilepic}" id="profpicminature" alt="profile picture">
                <ul class="dropdownprofile">
                    <li class="liFirstOption"><a th:href="@{/profile}">Mój profil</a></li>
                    <li class="liSecondOption"><a href="#"><form name="logoutForm" class="logoutForm" th:action="@{/logout}" method="post">
                        <input type="submit" id="signOutSubmit" value="Wyloguj się"/></form></a></li>
                </ul>
            </li>
        </ul>


    </div>

    <div id="mainbox">
        <div id="userbox">
            <div id="user">
                <img th:src="${profilepic}" alt="Zdjęcie profilowe" id="profpic">
                <p style="color: #BFE0EE; margin-left:1em; font-size: 2em; margin-top: 0"  th:text="${login}"></p>
            </div>

            <h1 th:text="${profileDescription}"   id="userdescription"></h1>

            <button id="settings" onclick="location.href='/profileSettings'">Ustawienia profilu</button>

        </div>
        <div class="photobox">
            <div th:each="photo: ${photos}">
                <a th:href="@{${'/images/user' + id +'/' + photo}}" data-lightbox="mygallery">
                    <img th:src="@{${'/images/user' + id +'/' + photo}}" class="album"/>
                </a>
            </div>

        </div>

    </div>



</div>


</body>
</html>
