<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zdjecia</title>
    <link rel="stylesheet" href="/css/navlefttop.css">
    <link rel="stylesheet" href="/css/profilestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
</head>
<body>




<div id="nav">

    <a th:href="@{/photoit}">
        <img src="/navicons/photoit.png" alt="Strona główna">
    </a> <hr>
    <a th:href="@{/photoit}">
        <img src="/navicons/add.png" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/photoit}">
        <img th:src="@{/navicons/world.png}" alt="Mapa">
    </a><hr>
    <a>
        <img src="/navicons/world.png" alt="Zakupione zdjęcia">
    </a><hr>
    <a>
        <img src="/navicons/weather.png" alt="Zakupione zdjęcia">
    </a>

</div>
<div id="centerbox">

    <div id="top">
        <form th:action="@{/search}" method="get">
            <input type="search" name="search" placeholder="Wyszukaj">
            <!--<label>
                <input type="search" name="search" placeholder="Wyszukaj">
                <img src="/navicons/loupe.png" id="iconinput">
            </label>--> <!--do usuniecia okej-->
            <input type="submit" value="Szukaj" id="search"/>
        </form>

        <h2 style="color: white">Saldo: </h2> <p style="color: white; font-size: 1.4em; margin-top: 1em" id="saldoreturn" th:text="${money}"></p>
        <img src="navicons/notification.png" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <img th:src="${profilepic}" id="profpicminature" alt="profile picture">

    </div>

    <div id="mainbox">
        <div id="userbox">
            <div id="User">
                <img th:src="${profilepic}" alt="Zdjęcie profilowe" id="profpic">
                <p style="color: #BFE0EE; margin-left:1em; font-size: 2em; margin-top: 0"  th:text="${login}"></p>
            </div>

                <h1 th:text="${user.getProfileDescription()}"   id="userdescription"></h1>

            <button id="settings">Obserwuj</button>

        </div>
        <div id="photobox">
            <div th:each="photo: ${photos}">
                <img th:src="@{${'/images/user' + id +'/' + photo}}" class="album"/>
            </div>

        </div>

    </div>



</div>


</body>
</html>
