<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zdjecia</title>
    <link rel="stylesheet" href="/css/navlefttop.css">
    <link rel="stylesheet" href="/css/searchResultsStyle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/js/buttonFollowValue.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="/js/photoPreview.js"></script>

    <script src="/js/test.js" type="text/javascript"></script>

</head>
<body style="margin: 8px">
<div id="nav">
    <a th:href="@{/mainPage}">
        <img src="/icons/Navbar/iconLogoNavbar.svg" alt="Strona główna" id="logo">
    </a>
    <a th:href="@{/uploadPhoto}">
        <img src="/icons/Navbar/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr class="navline">
    <a th:href="@{/maps}">
        <img src="/icons/Navbar/iconMapNavbar.svg" alt="Mapa">
    </a><hr class="navline">
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr class="navline">
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>

    <button id="jeden" onclick="myFunction()">Click me</button>

    <h1>Authors</h1>
    <ul id="authors"></ul>
</div>
<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <a th:href="@{/profile}">
            <img th:src="${profilepic}" id="profpicminature" alt="profile picture">
        </a>
    </div>

    <div id="mainbox">

        <div>
            <h1>Użytkownicy</h1>
            <div th:if="${user != null}">
                <p> <img th:src="@{${user.getProfilePicPath()}}" id="profpicminiatureBigger"/> <a id="username" th:text="${user.getLogin()}" th:href="@{/test/{login}(login=${user.getLogin()})}"></a></p>
            </div>

            <div th:if="${user == null}">
                <p>Brak uzytkownika o podanym pseudonimie!</p>
            </div>
        </div>


    <div >
        <h1>Zdjęcia</h1>
        <div id = "matchedPhotos" th:if="${matchingPosts.isEmpty() == false}">
            <div th:each="post: ${matchingPosts}" >

                <input type="image"  th:id=${post.getIdPost()} th:src="@{${post.getPhoto().getPath()}}" class="album" data-toggle="modal" data-target="#exampleModal" th:onclick="setId(this.id)"/>
                 <div th:class="yo" th:value="${post.getUser().getImie()}" hidden>

            </div>
        </div>
    </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nazwa użytkownika</h5>
                            <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
                    </div>
                    <div class="modal-body1">
                        <iframe style="border: none" id="photoPreview" src="http://localhost:8080/maps"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${matchingPosts.isEmpty() == true}">
            <p>Brak zdjęć z podanym tagiem!</p>
        </div>
    </div>





</div>

</div>


</div>


</body>
</html>

