<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action=${"/upload"} method="post" enctype="multipart/form-data">
    <div>
        <label>Załącz zdjęcie z dysku: </label>
        <input type="file" name="image" accept="image/png, image/jpeg"/>
        <label>Dodaj opis: </label>
        <input type="text" name="description"/>
        <label>Dodaj tagi: </label>
        <input type="text" name="tags" />
        <input type="submit" value=" Opublikuj"/>
    </div>
</form>

</body>
</html>