<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zdjecia</title>
    <link rel="stylesheet" href="/css/navlefttop.css">
    <link rel="stylesheet" href="/css/profilestyle.css">
    <link rel="stylesheet" href="/css/weather.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">



    <!--lightbox -->
    <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">

    <script src="/js/lightbox-plus-jquery.min.js"></script>
    <script src="/js/weatherScript.js"></script>

</head>
<body>
<div id="nav">
    <a th:href="@{/mainPage}">
        <img src="/icons/Navbar/iconLogoNavbar.svg" alt="Strona główna">
    </a> <hr>
    <a th:href="@{/uploadPhoto}">
        <img src="/icons/Navbar/iconAddPostNavbar.svg" alt="Dodaj zdjęcie">
    </a><hr>
    <a th:href="@{/maps}">
        <img src="/icons/Navbar/iconMapNavbar.svg" alt="Mapa">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconWeatherNavbar.svg" alt="Pogoda">
    </a><hr>
    <a th:href="@{/photoit}">
        <img src="/icons/Navbar/iconReportsNavbar.svg" alt="Panel zgłoszeń">
    </a>
</div>
<div id="centerbox">

    <div id="top">
        <form th:action="@{/searchResults}" method="get" id="searchform">
            <input type="search" name="searchValue" id="searchValue" placeholder="Wyszukaj">
            <input type="submit" value="Szukaj" id="search"/>
        </form>
        <img src="/navicons/svg/iconNotificationNavbar.svg" id="notification" alt="powiadomienie"> <!--po nacisnieciu lista-->
        <a th:href="@{/profile}">
            <img th:src="${profilepic}" id="profpicminature" alt="profile picture">
        </a>


    </div>

    <div id="mainbox">
        <div id="userbox">

            <div id="weatherTilesBox">
                <div class="weatherTile" id="0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
                <div class="weatherTile" id="6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem error dignissimos libero!</div>
            </div>
            <div id="timePanel">
                  <input type="range" min="0" max="23" step="1" id="timePanelInput">        
                  <output class="timeBubble">12:00</output>
            </div>
            <div id="weatherinfobox">
                <div id="firstWeatherInfoColumn">
                    <div class="weatherField"  style="height: 77px"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconTemperatureWeather.svg">Temperatura</div><div class="weatherFieldProperty" style="margin-left: 3%"></div> </div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconWindWeather.svg">Wiatr</div><div class="weatherFieldProperty"></div> </div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconHumidityWeather.svg">Wilgotność</div><div class="weatherFieldProperty" style="margin-left: 6%"></div> </div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconPrecipWeather.svg" style="height: 50px">Opady</div><div class="weatherFieldProperty"></div> </div>
                </div><hr class="weatherColumnSeparator">
                <div id="secondWeatherInfoColumn">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconSunriseWeather.svg">Wschód</div><div class="weatherFieldProperty" style="margin-left: 6%"></div> </div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" src="icons/Weather_Info/iconSundownWeather.svg">Zachód</div><div class="weatherFieldProperty" style="margin-left: 6%"></div> </div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" id="iconMoonWeather" src="icons/Weather_Info/iconMoonWeather.svg">Faza księżyca</div><div class="weatherFieldProperty" style="margin-left: 2%"></div></div><hr class="jasiekLiniowy">
                    <div class="weatherField"><div class="weatherSignField"><img alt="iconInfo" class="Weather_Info" id="iconCloudsWeather" src="icons/Weather_Info/iconCloudsWeather.svg">Zachmurzenie</div><div class="weatherFieldProperty" style="margin-left: 1%"></div> </div>
                </div><hr class="weatherColumnSeparator">
                <div id="weatherPreferences">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>